@model dynamic
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Umbraco V7 Demo - Contact Us</title>
</head>
<body bgcolor="#ffffff">
    <p>Hi,</p>
    <p>A visitor has send a message via 'Contact us' on the website!</p>
    <p>From:   @Model.Name</p>
    <p>Email:  @Model.EmailAddress</p>
    <p>&nbsp;</p>
    <p>Subject:  @Model.Subject</p>
    <p>================================================</p>
    <p>@Model.Message</p>
    <p>&nbsp;</p>
    <p>@Model.SubmitDate</p>
</body>
</html>